@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background: #dddddd;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  flex-grow: 1;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.centre-horizontal {
  justify-content: center;
}

.centre {
  justify-content: center;
  align-items: center;
}

.flex-end-align {
  align-items: flex-end;
}

.centre-text {
  text-align: center;
}

.text-not-selectable {
  -webkit-user-select: none;      
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  padding-bottom: 0.1rem;
  border-bottom: 0.15rem solid #eeeeee;
}

.italic {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  width: 40%;
  max-height: 90%;
  padding: 0.3rem;
  background-color: #aaaaaa;
  color: #eeeeee;
  box-shadow: 0 0 3rem #444444;
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
  width: 0.2rem;
}

.modal-content::-webkit-scrollbar-track {
  background: #eeeeee;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #555555;
}

.modal-body {
  width: 100%;
  padding: 1rem;
}

.modal-header {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.modal-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.book-cover-modal {
  width: 50%;
}

.book-description-modal {
  width: 50%;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  letter-spacing: 0.1rem;
  max-height: 57vh;
  overflow-y: auto;
}

.book-description-modal::-webkit-scrollbar {
  width: 0.2rem;
}

.book-description-modal::-webkit-scrollbar-track {
  background: #eeeeee;
}

.book-description-modal::-webkit-scrollbar-thumb {
  background: #555555;
}

.book-desc-content {
  margin-bottom: 1rem;
}

.btn-main-dark {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-color: transparent;
  color: #eeeeee;
  font-size: 1rem;
}

.btn-main-dark:hover {
  cursor: pointer;
  border: 2px solid #eeeeee;

}

.btn-main-dark:focus {
  outline: none;
  border: 2px solid #eeeeee;
}

.header {
  padding: 1rem;
  color: #eeeeee;
  background: #222222;
  width: 100%;
}

.logo {
  width: 3%;
  height: auto;
  margin-right: 1rem;
}

.title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  color: #eeeeee;
  background: #334455;
  padding: 0.5rem 1rem;
}

.navbar-item {
  margin: 0 0.5rem;
}

.sort-select {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 2px solid transparent;
  outline: none;
  color: #eeeeee;
  background: transparent;
}

.sort-select-option {
  background-color: #334455;
}

.sort-select:focus {
  outline: none;
  border: 2px solid #eeeeee;
}

.sort-select:hover {
  cursor: pointer;
  border: 2px solid #eeeeee;
}

.content {
  padding: 1rem 2rem;
  justify-items: center;
}

.card {
  width: 85%;
  margin: 1rem;
  padding: 1rem;
  background: #aaaaaa;
  border-radius: 1rem;
  box-shadow: 0 0 0.7rem #555555;
  color: #dddddd;
  transition: all .1s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 1rem #555555;
}

.card:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 0 0 1rem #555555;
}

.book-cover {
  display: block;
  width: 100%;
  height: auto;
}

.card-title {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
}

.card-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  width: 100%;
}

.form {
  width: 100%;
}

.form-label {
  font-size: 1.2rem;
}

.form-txt-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  border: 2px solid #555555;
  font-family: 'Roboto', sans-serif;
  background: #aaaaaa;
  color: #eeeeee;
}

.form-txt-input:focus {
  outline: none;
  border: 2px solid #eeeeee;
}

.form-txt-input::placeholder {
  color: #eeeeee;
}

textarea {
  resize: none;
}

.form-submit-btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #eeeeee;
  background: #555555;
  border: 2px solid #555555;
}

.form-submit-btn:hover {
  cursor: pointer;
  border: 2px solid #eeeeee;
}

.form-submit-btn:focus {
  outline: none;
  border: 2px solid #eeeeee;
}

.footer {
  width: 100%;
  padding: 0.5rem;
  background: #334455;
  color: #eeeeee;
  margin-top: auto;
}

.pages {
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-page-inner {
  width: 40%;
  max-height: 90%;
  padding: 1rem;
  background-color: #aaaaaa;
  color: #eeeeee;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #444444;
  overflow-y: auto;
}

#authors {
  overflow-y: auto;
}

#authors option {
  padding: 0.25rem;
  color: #eeeeee;
}

#author-name {
  width: 50%;
}

#authors option:checked {
  background: #555555 linear-gradient(0deg, #555555 0%, #555555 100%);
}

#authors::-webkit-scrollbar {
  width: 0.2rem;
}

#authors::-webkit-scrollbar-track {
  background: #eeeeee;
}

#authors::-webkit-scrollbar-thumb {
  background: #555555;
}
